.container {
}

.container.onsplit {
  --summary-term-color: var(--color-gray100);
  --briefing-content-color: var(--color-gray100);

  height: calc(100vh - (2 * var(--page-padding)));
  overflow-y: scroll;
  padding: var(--space-lg);
  background-color: var(--color-gray200);
  border-radius: var(--border-radius-md);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.title {
  --heading-highlight: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
