.container {
}

.title {
  margin-bottom: 2rem;
}

.box {
  padding: var(--space-md);
  background-color: var(--briefing-content-color, var(--color-yellow-light));
  border-radius: var(--border-radius-md);

  * {
    user-select: text;
  }
}

.box.constrained {
  height: 30rem;
  overflow-y: scroll;
}
