.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: var(--font-size-body);
  color: var(--color-text-body);
  background-color: var(--color-gray50);
  border: none;
  border-bottom: 2px solid var(--color-cyan-light);
  border-radius: var(--border-radius-sm);
  transition: all var(--transition-smooth);

  &.error {
    background-color: var(--color-pink-light);
    border-color: var(--color-pink);

    &:focus {
      border-color: var(--color-pink);
    }

    &::selection {
      background-color: var(--color-pink);
    }

    & + .toggleButton:hover {
      color: var(--color-pink);
    }
  }

  &::placeholder {
    color: var(--color-gray300);
  }

  &:focus {
    outline: none;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-cyan);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-gray100);
    border-color: var(--color-gray200);

    &::placeholder {
      color: transparent;
    }
  }
}

.passwordInput {
  padding-right: 5rem;
}

.toggleButton {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-gray300);
  background: none;
  border: none;
  transition: color var(--transition-smooth);
  cursor: pointer;

  &:hover {
    color: var(--color-cyan);
  }
}
